<template>
  <li>
    <h3>{{ postTitle }}</h3>
    <router-link :to="{ name: 'blog', params: { id: postId } }">
        READ
    </router-link>
  </li>
</template>

<script>
export default {
  props: ["postId","postTitle"]
};
</script>

<style scoped>
li {
  list-style: none;
}
</style> 