<template>
  <div>
    <ul>
      <BlogListItem v-for="post in posts" :key="post.id" :postId="post.id" :postTitle="post.title" />
    </ul>
  </div>
</template>

<script>
//import data from "../post-data.json";
import axios from "axios";
import BlogListItem from "../components/BlogListItem.vue";


export default {
  components:{BlogListItem},
  data(){
      return {
          posts: []
      }
  },
  mounted() {
    axios.get("http://localhost:3000/posts").then((response) => {
      console.log(response.data);
      this.posts = response.data;
  }).catch((error) => {
      console.log("ERROR!!! " + error.response);
  });
}
};
</script>

<style>
</style>