<template>
  <div>
    <ul>
        
        <!-- <BookListItem v-for="book in books" :key="post.id" :postId="post.id" :postTitle="post.title" /> -->
        <li v-for="book in books" :key="book.id" >
            <h3>{{book.title}}</h3>
            <router-link :to="{name:'book-details', params:{id:book.id}}">
                READ
            </router-link>
        </li>    
    
    </ul>
  </div>
</template>

<script>
//import data from "../post-data.json";
import axios from "axios";
//import BookListItem from "../components/BookListItem.vue";


export default {
  //components:{BookListItem},
  data(){
      return {
          books: []
      }
},
  mounted() {
    axios.get("http://localhost:3000/books").then((response) => {
      console.log(response.data);
      this.books = response.data;
  }).catch((error) => {
      console.log("ERROR!!! " + error.response);
  });
}
};
</script>

<style>
</style>